doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title 古琴
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='古琴 - 古琴交流', name='description')
    meta(content='BdgPixel', name='author')
    // Fav
    link(href='images/favicon.ico', rel='shortcut icon')
    // styles
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/owl.theme.css', rel='stylesheet')
    link(href='css/magnific-popup.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(href='css/responsive.css', rel='stylesheet')
    // fonts google
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(type='text/javascript', src='js/html5shiv.min.js')
  body
    // PRELOADER
    #preloader
      #status
        img(alt='logo', src='images/logo-big.png')
    // /.PRELOADER END
    // HEADER
    .header
      .for-sticky
        // LOGO
        .col-md-2.col-xs-6.logo
          a(href='index.html')
            img.logo-nav(alt='logo', src='images/logo.png')
        // /.LOGO END
      .menu-wrap
        nav.menu
          .menu-list
            a.active(data-scroll='', href='#home')
              span Home
            a(data-scroll='', href='#about')
              span About
            a(data-scroll='', href='#work')
              span Work
            a(data-scroll='', href='#services')
              span Services
            a(data-scroll='', href='#employement')
              span Employement
            a(data-scroll='', href='#skill')
              span Skills
            a(data-scroll='', href='#education')
              span Education
            a(data-scroll='', href='#testimonial')
              span Testimonial
            a(data-scroll='', href='#blog')
              span Blog
            a(data-scroll='', href='#contact')
              span Contact
        button#close-button.close-button Close Menu
      button#open-button.menu-button
        span
        span
        span
      // /.for-sticky
    // /.HEADER END
    // CONTENT WRAP
    .content-wrap
      // CONTENT
      .content
        // HOME
        section#home
          .container
            .row
              .wrap-hero-content
                .hero-content
                  h1 七弦琴
                  br
                  span.typed
              .mouse-icon.margin-20
                .scroll
        // /.HOME END
        // ABOUT
        section#about
          .col-md-6.col-xs-12.no-pad
            .bg-about
          .col-md-6.col-sm-12.col-xs-12.white-col
            .row
              // OWL CAROUSEL2
              .owl-carousel2
                .col-md-12
                  .wrap-about
                    .w-content
                      p.head-about
                        | Design is the method of putting form and content together. Design, just as art, has multiple definitions there is no single definition. Design can be art. Design can be aesthetics. Design is so simple, that's why it is so complicated.
                      h5.name
                        | M. Reza
                      img(alt='signature', src='images/signature.png')
                .col-md-12.col-sm-12.col-xs-12.white-col
                  .row
                    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
                      .wrap-about
                        table.w-content
                          tr
                            td.title Name 
                            td.break :
                            td  M. Reza
                          tr
                            td.title Phone 
                            td.break :
                            td  +62 8678 999 012
                          tr
                            td.title Email 
                            td.break :
                            td  bdgpixel@gmail.com
                          tr
                            td.title Address 
                            td.break :
                            td  Cipamokolan street 102 , Bandung, Indonesia
                          tr
                            td.title Skype 
                            td.break :
                            td  bdgpixel
                          tr
                            td.title Dribbble 
                            td.break :
                            td  Muh-Reza
                          tr
                            td.title Behance
                            td.break :
                            td  m-reza
              // /.OWL CAROUSEL2 END
        // /.ABOUT END
        // WORK
        section#work.grey-bg.mar-tm-10
          .container
            .row
              .col-md-3
                h3.title-small
                  span Work
                p.content-detail
                  | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                  br
                  br
                  | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
              .col-md-9.content-right
                // PORTFOLIO IMAGE
                ul.portfolio-image
                  li.col-md-6
                    a(href='images/bw-1.png')
                      img(alt='image', src='images/bw-1.png')
                      .decription-wrap
                        .image-bg
                          p.desc My Resume
                  li.col-md-6
                    a(href='images/bw-2.png')
                      img(alt='image', src='images/bw-2.png')
                      .decription-wrap
                        .image-bg
                          p.desc
                            | Pangirutan
                  li.col-md-6
                    a(href='images/bw-3.png')
                      img(alt='image', src='images/bw-3.png')
                      .decription-wrap
                        .image-bg
                          p.desc
                            | Black Mug
                  li.col-md-6
                    a(href='images/bw-4.png')
                      img(alt='image', src='images/bw-4.png')
                      .decription-wrap
                        .image-bg
                          p.desc
                            | Notebook Mockup
                  li.col-md-6
                    a(href='images/bw-5.png')
                      img(alt='image', src='images/bw-5.png')
                      .decription-wrap
                        .image-bg
                          p.desc
                            | Presentation
                  li.col-md-6
                    a(href='images/bw-6.png')
                      img(alt='image', src='images/bw-6.png')
                      .decription-wrap
                        .image-bg
                          p.desc
                            | Letter Branding
                // /.PORTFOLIO IMAGE END
        // /.WORK END
        // SERVICES
        section#services.white-bg
          .container
            .row
              .col-md-3
                h3.title-small
                  span Services
                p.content-detail
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .col-md-9.content-right
                .row
                  ul.listing-item
                    li
                      .col-md-4.col-sm-4
                        h3.icon-use
                          | c
                        p.head-sm
                          | MARKETING
                        p.text-grey
                          | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                    li
                      .col-md-4.col-sm-4
                        h3.icon-use
                          | b
                        p.head-sm
                          | WEB DESIGN
                        p.text-grey
                          | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                    li
                      .col-md-4.col-sm-4
                        h3.icon-use
                          | d
                        p.head-sm
                          | UI
                        p.text-grey
                          | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                  ul.listing-item
                    li
                      .col-md-4.col-sm-4
                        p.icon-use
                          | f
                        p.head-sm
                          | DIRECTOR
                        p.text-grey
                          | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                    li
                      .col-md-4.col-sm-4
                        h3.icon-use
                          | p
                        p.head-sm
                          | UX DESIGN
                        p.text-grey
                          | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                    li
                      .col-md-4.col-sm-4
                        h3.icon-use
                          | m
                        p.head-sm
                          | FRONT END
                        p.text-grey
                          | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
        // /.SERVICES END
        // EMPLOYEMENT
        section#employement.grey-bg
          .container
            .row
              .col-md-3
                h3.title-small
                  span Employement
                p.content-detail
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .col-md-9.content-right
                .row
                  ul.listing-item
                    li
                      .col-md-6.col-sm-6
                        .wrap-card
                          .card
                            h2.year
                              | 2007 - 2009
                            p.job
                              | web designer
                            p.company
                              | Corp Project
                            hr
                            .text-detail
                              p
                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                    li
                      .col-md-6.col-sm-6
                        .wrap-card
                          .card
                            h2.year
                              | 2009 - 2010
                            p.job
                              | web designer
                            p.company
                              | Google inc
                            hr
                            .text-detail
                              p
                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                  ul.listing-item
                    li
                      .col-md-6.col-sm-6
                        .wrap-card
                          .card
                            h2.year
                              | 2010 - 2014
                            p.job
                              | crative director
                            p.company
                              | 41 studio
                            hr
                            .text-detail
                              p
                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                    li
                      .col-md-6.col-sm-6
                        .wrap-card
                          .card
                            h2.year
                              | 2014 - NOW
                            p.job
                              | fullstack designer
                            p.company
                              | Freelance
                            hr
                            .text-detail
                              p
                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
        // /.EMPLOYEMENT END
        // SKILLS
        section#skill.white-bg
          .container
            .row
              .col-md-3
                h3.title-small
                  span Skills
                p.content-detail
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .col-md-9.content-right
                // SKILLST
                .skillst
                  .skillbar(data-percent='78%')
                    .title.head-sm
                      | HTML 5
                    .count-bar
                      .count
                  .skillbar(data-percent='91%')
                    .title.head-sm
                      | CSS 4
                    .count-bar
                      .count
                  .skillbar(data-percent='58%')
                    .title.head-sm
                      | jQuery
                    .count-bar
                      .count
                  .skillbar(data-percent='63%')
                    .title.head-sm
                      | PHP
                    .count-bar
                      .count
                  .skillbar(data-percent='95%')
                    .title.head-sm
                      | Photoshop
                    .count-bar
                      .count
                // /.SKILLST END
        // /.SKILLS END
        // EDUCATION
        section#education.grey-bg
          .container
            .row
              .col-md-3
                h3.title-small
                  span Education
                p.content-detail
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .col-md-9.content-right
                .row
                  ul.listing-item
                    li
                      .col-md-6.col-sm-6
                        .wrap-card
                          .card
                            h2.year
                              | 2002 - 2005
                            p.job
                              | Information System
                            p.company
                              | Telkom University
                            hr
                            .text-detail
                              p
                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                    li
                      .col-md-6.col-sm-6
                        .wrap-card
                          .card
                            h2.year
                              | 2005 - 2007
                            p.job
                              | DKV
                            p.company
                              | UNIKOM
                            hr
                            .text-detail
                              p
                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                  ul.listing-item
                    li
                      .col-md-6.col-sm-6
                        .wrap-card
                          .card
                            h2.year
                              | 2007 - 2009
                            p.job
                              | Magister DKV
                            p.company
                              | ITB
                            hr
                            .text-detail
                              p
                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                    li
                      .col-md-6.col-sm-6
                        .wrap-card
                          .card
                            h2.year
                              | 2009 - 2010
                            p.job
                              | Typhography Magister
                            p.company
                              | Florida University
                            hr
                            .text-detail
                              p
                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
        // /.EDUCATION END
        // TESTIMONIAL
        section#testimonial
          .container
            .row.wrap-testimonial
              .col-md-10.col-md-offset-1
                .owl-carousel
                  .list-testimonial
                    .content-testimonial
                      h3.testi
                        | “ Reza did a phenominal job setting up my a website for my product He performed the task very quickly and efficiently. We know we have the superior topical pain relief cream on the market and he has helped us communicate that message via the website he built from scratch. Thanks! ”
                      p.people
                        | Darin Cohen - Active10
                  .list-testimonial
                    .content-testimonial
                      h3.testi
                        | “ Another successful project working with Reza. He has great design skills, is very responsive and professional. Looking forward to the next opportunity to work together. ”
                      p.people
                        | Marko Milicevic
                  .list-testimonial
                    .content-testimonial
                      h3.testi
                        | “ Great designer! I like his sense of design, especially the color scheme. Quick turnaround. Look forward to work with him again. Thanks!! ”
                      p.people
                        | JK Thang
          .mask-testimonial
        // /.TESTMONIAL END
        // BLOG
        section#blog.grey-bg
          .container
            .row
              .col-md-12
                h3.title-small-center.text-center
                  span Blog
                .row
                  .col-md-6.col-md-offset-3
                    p.content-details.text-center
                      | Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                // GRID BLOG
                .grid
                  .grid-item
                    .wrap-article
                      img.img-circle.text-center(alt='blog-1', src='images/blog-1.png')
                      p.subtitle.fancy
                        span 09/01/2017
                      a(href='#')
                        h3.title
                          | Popular Design in 2017
                      p.content-blog
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                  .grid-item
                    .wrap-article
                      img.img-circle.text-center(alt='blog-4', src='images/blog-4.jpg')
                      p.subtitle.fancy
                        span 08/20/2017
                      a(href='#')
                        h3.title
                          | Just Start
                      p.content-blog
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  .grid-item
                    .wrap-article
                      img.img-circle.text-center(alt='blog6', src='images/blog-6.jpg')
                      p.subtitle.fancy
                        span 08/11/2017
                      a(href='#')
                        h3.title
                          | The Huffington Post
                      p.content-blog
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  .grid-item
                    .wrap-article
                      img.img-circle.text-center(alt='blog2', src='images/blog-2.jpg')
                      p.subtitle.fancy
                        span 08/03/2017
                      a(href='#')
                        h3.title
                          | Manuk!
                      p.content-blog
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  .grid-item
                    .wrap-article
                      img.img-circle.text-center(alt='blog5', src='images/blog-5.jpg')
                      p.subtitle.fancy
                        span 07/26/2017
                      a(href='#')
                        h3.title
                          | Do Web Designer Really Need To Know UI/UX Design and Backend Code too?
                      p.content-blog
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  .grid-item
                    .wrap-article
                      img.img-circle.text-center(alt='blog-3', src='images/blog-3.jpg')
                      p.subtitle.fancy
                        span 08/03/2017
                      a(href='#')
                        h3.title
                          | Somewhere Place
                      p.content-blog
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                // /.GRID BLOG END
        // /.BLOG END
        // CONTACT
        section#contact.white-bg
          .container
            .row
              .col-md-3
                h3.title-small
                  span Contact
                p.content-detail
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              .col-md-9.content-right
                form
                  .group
                    input(required='', type='text')
                    span.highlight
                    span.bar
                    label Name
                  .group
                    input(required='', type='email')
                    span.highlight
                    span.bar
                    label Email
                  .group
                    textarea(required='')
                    span.highlight
                    span.bar
                    label Message
                  input#sendMessage(name='sendMessage', type='submit', value='Send Message')
        // /.CONTACT END
        // FOOTER
        footer
          .footer-top
            ul.socials
              li.facebook
                a(href='#', data-hover='Facebook') Facebook
              li.twitter
                a(href='#', data-hover='Twitter') Twitter
              li.gplus
                a(href='#', data-hover='Google +') Google +
          .footer-bottom
            .container
              .row
                img.center-block(src='images/logo-bottom.png', alt='logo bottom')
                | Copyright © 2017.Company name All rights reserved.
        // /.FOOTER-END
        // /.CONTENT END
      // /.CONTENT-WRAP END
    script(src='js/jquery-1.9.1.min.js', type='text/javascript')
    script(src='js/jquery.appear.js', type='text/javascript')
    script(src='js/bootstrap.min.js', type='text/javascript')
    script(src='js/classie.js', type='text/javascript')
    script(src='js/owl.carousel.min.js', type='text/javascript')
    script(src='js/jquery.magnific-popup.min.js', type='text/javascript')
    script(src='js/masonry.pkgd.min.js', type='text/javascript')
    script(src='js/masonry.js', type='text/javascript')
    script(src='js/smooth-scroll.min.js', type='text/javascript')
    script(src='js/typed.js', type='text/javascript')
    script(src='js/main.js', type='text/javascript')
